*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/abstract-machine/*
!Makefile
!README.md
!.gitignore
!init.sh
/am-kernels
!/yosys-sta/**
!/ysyxSoC/**
!/nvboard/**
!/rt-thread-am/**
